body{
    padding: 0;
    margin: 0;
}
.left-menu{
    width: 16.5%;
    height: 809px;
    background-color: #343A40;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.left-menu .bar{
    width: 100%;
    height: 7%;
    float: left;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-size: 26px;
    color: #454D55;
    transition: 1s;
    overflow: hidden;
}
.left-menu .bar .img{
    width: 17%;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
    transition: 1s;
    background-color: #fff;
}
.left-menu .bar .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
.left-menu .bar .txt{
    width: 79%;
    height: 100%;
    margin-left: 4%;
    transition: 1s;
    display: flex;
    justify-content: left;
    align-items: center;
    display: none;
}
.left-menu .bar .txt p{
    transition: 1s;
    margin-top: 20px;
}
.left-menu .bar .txt i{
    color: #fff;
    font-size: 32px;
    margin-left: 10px;
    transition: 1s;
}
.left-menu .container{
    width: 100%;
    height: 100%;
    float: left;
    background-color: #343A40;
    transition: 1s;
    padding: 0;
}
.left-menu .container .devel{
    width: 96%;
    height: 8%;
    float: left;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    font-size: 26px;
    transition: 1s;
    overflow: hidden;
    margin-left: 2%;
}
.left-menu .container .devel .img{
    width: 17%;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #eee;
    background-color: #fff;
    transition: 1s;
    margin-left: 7px;
}
.left-menu .container .devel .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-menu .container .devel .txt{
    width: 79%;
    height: 100%;
    margin-left: 4%;
    transition: 1s;
    display: flex;
    justify-content: left;
    align-items: center;
    display: none;
}
.left-menu .container .devel .txt h1{
    font-size:16px;
    color: #D2D6DE;
    margin-left: 15px;
    margin-top: 10px;
    transition: 1s;
}
.left-menu .container .devel .txt h1 i.fa-n{
    color: #00FF7F;
}
.left-menu .container .devel .txt h1 i.fa-y{
    color: #E67E22;
}
.left-menu .container .devel .txt h1 i.fa-l{
    color: #00BFFF;
}
.left-menu .container .devel .txt h1 i.fa-i{
    color: #DC3545;
}
.left-menu .container .devel .txt h1 i.fa-h{
    color: #40E0D0  ;
}
.left-menu .container .devel .txt h1 i.fa-o{
    color: #7B68EE;
}
.left-menu .container .devel .txt h1 i.fa-u{
    color: #FFC107 ;
}
.left-menu .container .devel .txt h1 i.fa-r{
    color: #FF1493;
}
.left-menu .container .option{
    height: 92%;
    width: 21%;
    margin-left: 2%;
    margin-top: 20px;
    float: left;
    transition: 1s;
}
.left-menu .container .option ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.left-menu .container .option ul li{
    width: 100%;
    height: 40px;
    color: #fff;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
}
.left-menu .container .option ul li#check-box{
    background-color: #4B94BF;
}
.left-menu .container .option ul li#dashboard{
    background-color: #28A745;
}
.left-menu .container .option ul li#calender{
    background-color: #FFC107;
}
.left-menu .container .option ul li#report{
    background-color: #DC3545;
}
.left-menu .container .option ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.left-menu .container .option ul li a i{
    transition: 1s;
    width: 60px;
    height: 40px;
    position: absolute;
    left: -5px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 26px;
}
.left-menu .container .option ul li a label{
    color: #fff;
    margin-left: 70px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    cursor: pointer;
}
.dash-board{
    width: 95.5%;
    height: 809px;
    background-color: #fff;
    float: left;
    position: fixed;
    top: 0;
    right: 0;
    transition: 1s;
    z-index: 10;
}
.dash-board .bar{
    width: 100%;
    height: 7%;
    float: left;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(105, 105, 105, 0.536);
    font-size: 26px;
    color: #454D55;
    justify-content: right;
    position: relative;
    background-color: #343A40;
    border-left: 1px solid #ccc;
}
.dash-board .bar .slide{
    width: 84.5%;
    height: 100%;
    background-color: #343A40;
    overflow: hidden;
    position: relative;
}
.dash-board .bar .slide p{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
    0%{
        transform: translateX(100%); 		
    }
    100%{
        transform: translateX(-100%); 
    }
}
.dash-board .bar p{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.dash-board .bar i{
    color: #fff;
    padding: 0 10px;
}
.dash-board .bar i.min{
    display: none;
}
.dash-board .contain{
    width: 100%;
    height: 100%;
    float: left;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.dash-board .contain h1{
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 400;
}
.dash-board .contain .box{
    border-radius: 4px;
    height: 140px;
    background-color: red;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .5s;
}
.dash-board .contain .box h1{
    margin-right: 20px;
    transition: .5s;
    font-size: 42px;
    opacity: .8;
    margin-bottom: 30px;
    color: #fff;
}
.dash-board .contain .box:hover i{
    transform: scale(1.4);
    transition: .5s;
}
.dash-board .contain .box i{
    margin-right: 20px;
    transition: .5s;
    font-size: 50px;
    opacity: 0.3;
    margin-bottom: 20px;
}
.dash-board .contain .box .footer{
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-board .contain .box .footer i{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 0;
}
.dash-board .contain .todo-list{
    box-shadow: 1px 1px 5px 1px #454D55;
    border-radius: 5px;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
}
.dash-board .contain .todo-list .top{
    width: 100%;
    height: 45px;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #454d5569;
    display: flex;
    align-items: center;
    float: left;
}
.dash-board .contain .todo-list .top h2{
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
}
.dash-board .contain .todo-list .card-body{
    height: auto;
    width: 100%;
    float: left;
}
.dash-board .contain .todo-list .card-body ul{
    padding:20px;
    margin: 0;
    list-style: none;
    overflow: hidden;
    box-sizing: border-box;
}
.dash-board .contain .todo-list .card-body ul li{
    width: 100%;
    background-color: #eee;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: left baseline;
    z-index: 12;
}
.dash-board .contain .todo-list .card-body ul li .list{
    width: 80%;
    padding: 5px 7px;
    float: left;
    position: relative;
}
.dash-board .contain .todo-list .card-body ul li .list span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.dash-board .contain .todo-list .card-body ul li .list i#check-box{
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    transition: .5s;
    margin-left: 25px;
}
.dash-board .contain .todo-list .card-body ul li .list i#check-box:hover{
    cursor: pointer;
    transition: .5s;
    color: blue;
}
.dash-board .contain .todo-list .card-body ul li .list p{
    margin:0 60px;
    padding: 0;
    font-weight: 500;
}
.dash-board .contain .todo-list .card-body ul li .list p input{
    height: 25px;
    border: none;
    outline: none;
}
.dash-board .contain .todo-list .card-body ul li i#edit-todo-list{
    position: absolute;
    right: 20px;
    color: crimson;
    display: none;
    margin-right: 20px;
    transition: .5s;
    z-index: 15;
}
.dash-board .contain .todo-list .card-body ul li:hover i#edit-todo-list{
    display: block;
    transition: .5s;
}
.dash-board .contain .todo-list .bottom{
    width: 100%;
    height: 55px;
    border-radius: 0;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: right;
    float: left;
}
.dash-board .contain .todo-list .bottom button{
    margin-right: 10px;
}
.dash-board .contain .calender{
    width: 95%;
    height: 95%;
    float: left;
    overflow-x: hidden;
    overflow: scroll;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


/* Tab */
.dash-board .tab{
    width: 100%;
    height: 100%;
    float: left;
    background-color: #fff;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}
.dash-board .tab .top{
    width: 100%;
    height: 7%;
    /* background-color: #00BFFF; */
    float: left;
}
.dash-board .tab .top .exit{
    width: 4.5%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-board .tab .top .exit i{
    font-size: 30px;
    color: #6F5CC4;
}
.dash-board .tab .top .path{
    height: 100%;
    float: left;
    margin-left: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-board .tab .top .path h2{
    font-size: 20px;
    background-color: #343A40;
    padding:8px 20px;
    border-radius: 4px;
    color: #fff;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.dash-board .tab .top .path h2 span{
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00FF7F;
}
.dash-board .tab .top form{
    height: 100%;
    width: 50%;
    float: left;
}
.dash-board .tab .top form .search{
    width: 100%;
    height: 100%;
    float: left;
    margin-left: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-board .tab .top form .search .box{
    width: 96%;
    height: 84%;
    background-color: #6F5CC4;
    overflow: hidden;
    border-radius: 5px;
}
.dash-board .tab .top form .search .box input{
    width: 50%;
    height: 100%;
    float: left;
    border: 2px solid #6F5CC4;
    border-radius: 5px;
}
.dash-board .tab .top form .search .box select{
    width: 50%;
    height: 100%;
    float: left;
    border: 2px solid #6F5CC4;
    border-radius: 5px;
    font-size: 16px;
}
.dash-board .tab .top .add{
    height: 100%;
    float: right;
    margin-left: .5%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dash-board .tab .top .add p{
    padding:8px 20px;
    border-radius: 4px;
    color: #fff;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    background-color: #343A40;
}
.dash-board .tab .top .add p span{
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #00FF7F;
}
.dash-board .tab .top .show{
    width: 25%;
    height: 100%;
    float: right;
    margin-left: .5%;
    position: relative;
}
.dash-board .tab .top .show .txt{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100%;
    width: 40%;
}
.dash-board .tab .top .show .txt p{
    background-color: #6F5CC4;
    padding:8px 20px;
    border-radius: 4px;
    color: #fff;
    margin: 0;
}
.dash-board .tab .top .show .select{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-board .tab .top .show .select select{
    width: 90%;
    height: 85%;
    font-size: 18px;
    border: 2px solid #6F5CC4;
}
.dash-board .tab .list{
    width: 100%;
    height: 86%;
    margin: .5% 0;
    /* background-color: transparent; */
    border-radius: 4px;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 1px 1px 5px 1px dimgrey;
    box-sizing: border-box;
}
.dash-board .tab .list table{
    width: 100%;
    background-color: #fff;
}
.dash-board .tab .list table tr th{
    text-align: center;
    padding: 10px 0;
    color: #aaa;
    font-size: 16px;
    border-bottom: 1px solid #00FF7F;
}
.dash-board .tab .list table tr td{
    text-align: center;
    padding: 15px 0;
    color: navy;
    font-size: 16px;
    position: relative;
    border-bottom: 1px solid #eee;
}
.dash-board .tab .list table tr td .color{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
}
.dash-board .tab .list table tr td img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    object-fit: cover;
    margin-top: 5px;
    box-shadow: 1px 1px 5px 1px #000;
}
.dash-board .tab .list table tr td img.pro:nth-child(1){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 12;
}
.dash-board .tab .list table tr td img.pro:nth-child(2){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%,-60%);
    z-index: 11;
}
.dash-board .tab .list table tr td img.pro:nth-child(3){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-10%,-70%);
    z-index: 10;
}
.dash-board .tab .list table tr td .popUp-img{
    width: auto;
    height: 120px;
    background-color: #00FF7F;
    box-shadow: 1px  1px 5px 1px #fff;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    z-index: 100;
    /* overflow: hidden; */
    display: flex;
    justify-content: left;
    align-items: center;
    display: none;
}
.dash-board .tab .list table tr td .popUp-img i{
    margin-bottom:95px;
    margin-left: 20px;
    padding:5px 7px;
    z-index: 20;
    background-color: red;
    color: #fff;
    border-top-right-radius: 5px;
}
.dash-board .tab .list table tr td .popUp-img img{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 10px;
    transition: .3s;
}
.dash-board .tab .list table tr td .popUp-img img:hover{
    transform: scale(2,2);
    z-index: 21;
    transition: .3s;
}
.dash-board .tab .bottom{
    width: 100%;
    height: 6%;
    float: left;
}
.dash-board .tab .bottom .box{
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-board .tab .bottom .box .pagination{
    width: 50%;
    height: 100%;
}
.dash-board .tab .bottom .box .pagination .length-data{
    width: 50%;
    height: 100%;
    font-weight: bold;
    float: left;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.dash-board .tab .bottom .box .pagination .action{
    width: 50%;
    height: 100%;
    float: left;
}
.dash-board .tab .bottom .box .pagination .action .back{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.dash-board .tab .bottom .box .pagination .action .back i{
    margin-left: 20px;
    color: #00FF7F;
}
.dash-board .tab .bottom .box .pagination .action .back i:hover{
    color: #28A745;
}
.dash-board .tab .bottom .box .pagination .action .back .disabled i{
    color: #fff;
}
.dash-board .tab .bottom .box .pagination .action .next{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.dash-board .tab .bottom .box .pagination .action .next i{
    margin-right: 20px;
    color: #00FF7F;
}
.dash-board .tab .bottom .box .pagination .action .next i:hover{
    color: #28A745;
}
.dash-board .tab .bottom .box .pagination .action .next .disabled i{
    color: #fff;
}
.dash-board .tab .bottom .box .show{
    width: 50%;
    height: 100%;
    float: right;
    margin-left: .5%;
    margin-bottom: 10px;
    position: relative;
}
.dash-board .tab .bottom .box .show .txt{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100%;
    width: 50%;
}
.dash-board .tab .bottom .box .show .txt p{
    padding:8px 20px;
    border-radius: 4px;
    color: #fff;
    margin: 0;
    font-size: 20px;
}
.dash-board .tab .bottom .box .show .select{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-board .tab .bottom .box .show .select select{
    width: 90%;
    height: 85%;
    font-size: 18px;
    text-align: center;
    border: 2px solid #6F5CC4;
}
/* form */
.dash-board .tab .form{
    width: 100%;
    height: 98%;
    /* margin: .5% 0; */
    background-color: #fff;
    border-radius: 4px;
    float: left;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash-board .tab .form form{
    width: 95%;
    height: 88%;
    position: relative;
}
.dash-board .tab .form form .row{
    width: 100%;
    height: 13%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.dash-board .tab .form form .row .column{
    height: 100%;
    width: 33%;
    padding: 0;
    margin: 0;
}
.dash-board .tab .form form .row .column .txt{
    width: 100%;
    height: 40%;
    float: left;
    display: flex;
    align-items: center;
}
.dash-board .tab .form form .row .column .txt label{
    margin-left: 20px;
    font-size: 18px;
    color: #666;
}
.dash-board .tab .form form .row .column .box{
    width: 100%;
    height: 60%;
    float: left;
    display: flex;
    align-items: center;
}
.dash-board .tab .form form .row .column .box select{
    width: 80%;
    height: 100%;
    margin-left: 4%;
    font-size: 16px;
    border: 2px solid #6F5CC4;
}
.dash-board .tab .form form .row .column .box input{
    width: 80%;
    height: 100%;
    margin-left: 4%;
    font-size: 18px;
    border: 2px solid #6F5CC4;
}
.dash-board .tab .form form .action{
    position: absolute;
    right: 70px;
    bottom: 0;
    width: 25%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dash-board .tab .form form .action a{
    width: 45%;
}
.dash-board .tab .form form .action a button.cancel{
    width: 100%;
    background-color: #DC3545;
    border: 1px solid red;
}
.dash-board .tab .form form .action button.add{
    background-color: #28A745;
    border: 1px solid #00FF7F;
    outline: none;
    width: 45%;
}
.dash-board .tab .form form .filter-input{
    position: absolute;
    right: 420px;
    bottom: 0;
    width: 27%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dash-board .tab .form form .filter-input .txt{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 60%;
    width: 30%;
}
.dash-board .tab .form form .filter-input .txt p{
    background-color: #6F5CC4;
    padding:8px 20px;
    border-radius: 4px;
    color: #fff;
    margin: 0;
}
.dash-board .tab .form form .filter-input .select{
    width: 65%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.dash-board .tab .form form .filter-input .select select{
    width: 100%;
    height: 85%;
    font-size: 16px;
    border: 2px solid #6F5CC4;
}
.dash-board .tab .form form .message{
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 35%;
    height: 10%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00FF7F;
    /* border: 2px solid #DC3545; */
}
.dash-board .tab .form form .message p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #00FF7F;
    /* color: #DC3545; */
}
.dash-board .tab .form form .rowpro{
    width: 100%;
    height: 13%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.dash-board .tab .form form .rowpro .columnpro{
    height: 100%;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
.dash-board .tab .form form .rowpro .columnpro .txt{
    width: 100%;
    height: 5%;
    float: left;
    display: flex;
    align-items: center;
}
.dash-board .tab .form form .rowpro .columnpro .txt label{
    margin-left: 20px;
    font-size: 18px;
    color: #666;
}
.dash-board .tab .form form .rowpro .columnpro .box{
    width: 90px;
    height: 100%;
    margin-left: 14px;
    border-radius: 5px;
    float: left;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px 1px #00FF7F;
    background-image: url('img-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    position: relative;
}
.dash-board .tab .form form .rowpro .columnpro .box i{
    padding: 5px 7px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top:-10px
}
.dash-board .tab .form form .rowpro .columnpro .box input{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.dash-board .tab .form form .rowpro .columnpro .box select{
    width: 96%;
    height: 100%;
    margin-left: 2%;
    font-size: 16px;
    border: 2px solid #6F5CC4;
}
.dash-board .tab .form form .rowpro .columnpro .box input{
    width: 96%;
    height: 100%;
    margin-left: 2%;
    font-size: 18px;
    border: 2px solid #6F5CC4;
}
.dash-board .tab .form form .textarea{
    width: 96%;
    height: 92%;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 2%;
    display: none;
}
.dash-board .tab .form form .textarea label{
    margin-left: 20px;
    /* margin-top: 3px; */
    font-size: 18px;
    color: #666;
}
.dash-board .tab .form form .textarea textarea{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #6F5CC4;
}
.dash-board .tab .form form .actionpro{
    position: absolute;
    right: 70px;
    bottom: 0;
    width: 25%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dash-board .tab .form form .actionpro a{
    width: 45%;
}
.dash-board .tab .form form .actionpro a button.cancel{
    width: 100%;
    background-color: #DC3545;
    border: 1px solid red;
}
.dash-board .tab .form form .actionpro button.add{
    background-color: #28A745;
    border: 1px solid #00FF7F;
    outline: none;
    width: 45%;
}
.dash-board .tab .form form .messagepro{
    position: absolute;
    left: 350px;
    bottom: 0;
    width: 35%;
    height: 7%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00FF7F;
}
.dash-board .tab .form form .messagepro p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #00FF7F;
}